# Archivos temporales de Blender
*.blend1
*.blend2
*.blend3
*.quit.blend
*.autosave.blend

# Miniaturas y archivos del sistema
.DS_Store
Thumbs.db

# Archivos de configuración de editores
.vscode/
.idea/
